body {
    margin: auto;
    width: 960px;
    background-color: #A4D3EE;
    font-family: 'PT Serif', 'Averia Serif Libre', serif;
    /*site's main fonts*/
}

h1 {
    text-align: center;
    padding-top: 20px;
}

.nav {
    /*border: 2px yellow solid;*/
    width: 960px;
    background-color: #999999;
    text-align: center;
    height: 50px;
    margin-top: 10px;
    padding-top: 2px;
}

.sidehome {
    /*sidebar on index.html*/
    float: left;
    width: 30%;
    height: 600px;
    border: 2px #003300 solid;
}
.sidehome li {
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: #FF0000; 
}

.mainhome {
    /*includes photo on index.html*/
    float: right;
    width: 68%;/*side 30 plus main 68, gap 2%*/
    border: 2px solid #003300;
    height: 600px;
}
.mainhome img {
    /*formatting for img on index.html*/
    width: 550px;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

li {
    display: inline-block;
    width: 120px;
}


.mother img {
    margin: 10px 150px 10px 150px;
    width: 660px;
    
}

.mother p {
    text-align: left;
    margin-left: 160px;
    margin-right: 160px;
    width: 600px;
}

.heels img {
    margin: 10px 150px 10px 150px;
    width: 660px;
    margin-top: 20px; /*space between mother and heels*/
    
}

.heels p {
    text-align: left;
    margin-left: 160px;
    margin-right: 160px;
    width: 600px;
}

table {
    border-spacing: 10px;
}

.plumpic img {
    width: 400px;
    margin: 10px 280px 10px 280px;
}

.plums {
    width: 400px;
    margin: 10px 280px 10px 280px;
}

.oatpic img {
    width: 400px;
    margin: 10px 280px 10px 280px;
}

.oats {
    width: 400px;
    margin: 10px 280px 10px 280px;
}

.sidecontent {
    /*sidebar on content.html*/
    float: left;
    width: 30%;
    height: 500px;
    border: 2px #003300 solid;
}    

.sidecontent li {
    display: block;
    text-align: center;
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    color: #FF6600; 
    font-size: 10px;
}

.maincontent {
    float: right;
    width: 68%;
    border: 2px solid #003300;
    height: 500px;
    font-size: 10px;
    text-align: center;
    
}

.maincontent img {
    height: 200px;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
